package.json
lerna.json
packages/*/package.json
example/package.json
plotly-latest.min.js
public
dist
node_modules
**/node_modules/**
**/dist/**
**/__snapshots__/**
*.d.ts
.gitignore
.npmignore
.eslintignore
.eslintrc.json
lerna-debug.log
lerna.json
.jest-test-results.json
README.md
**/README.md
test.sh
